.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 217, 217, 0.5);

  .content{ 
    background-color: #fff;
    padding: 80px;
  }
}